<div class="login-form top-space">
  <div [formGroup]="formGroup">
  <mat-toolbar class="toolbar" color="primary">{{logonTitle}}</mat-toolbar>
  <mat-card>
    <mat-form-field class="form-field">
      <input type="text" matInput placeholder="User Email" formControlName="emailID">
    </mat-form-field>
    <br/>

    <div *ngIf="emailID.invalid && (emailID.dirty || emailID.touched)"
         class="alert">
      <div *ngIf="emailID.errors?.required" class="form-field error">
        Email ID is required.
      </div>
      <div *ngIf="emailID.errors?.email" class="form-field error">
        ID must be a valid email
      </div>
    </div>





    <mat-form-field class="form-field">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <br/>


    <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class="alert">
      <div *ngIf="password.errors?.required" class="form-field error">
        Password is required.
      </div>
    </div>



    <div *ngIf="showRetype">
      <mat-form-field class="form-field">
        <input autofocus type="password" matInput placeholder="Retype password" formControlName="retypePassword">
      </mat-form-field>
      <br/>
    </div>
    <div *ngIf="showChangePassword">
      <mat-form-field class="form-field">
        <input autofocus type="password" matInput placeholder="New password" formControlName="newPassword">
      </mat-form-field>
      <br/>
      <mat-form-field class="form-field">
        <input autofocus type="password" matInput placeholder="Retype new password" formControlName="retypeNewPassword">
      </mat-form-field>
      <br/>
    </div>
    <div class="center">
       <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    <div *ngIf="failedLogin != ''" class="form-field error">
      {{ failedLogin }}
    </div>
    <div class="right-just">
      <button mat-flat-button class="blue-text" (click)="onRegister()">
        Don't have account?
      </button>
    </div>
  </mat-card>
  </div>
</div>
