<div class="login-form top-space">
  <div [formGroup]="formGroup">
    <mat-toolbar class="toolbar" color="primary">Change Password</mat-toolbar>
    <mat-card>
      <mat-form-field class="form-field">
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <br/>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert">
        <div *ngIf="password.errors?.required" class="form-field error">
          Password is required.
        </div>
      </div>
      <mat-form-field class="form-field">
        <input type="password" matInput placeholder="Retype password" formControlName="retype">
      </mat-form-field>
      <br/>

      <div *ngIf="(password.dirty || password.touched) && (retype.dirty || retype.touched) && (password.value != retype.value)"
           class="form-field error">
        Passwords not the same.
      </div>

      <div class="center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>
      <div *ngIf="failedChange != ''" class="form-field error">
        {{ failedChange }}
      </div>
    </mat-card>
  </div>
</div>

