<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="!authService.isLoggedIn()" routerLink="/change-password-component">Change Password</button>
    <button mat-menu-item [disabled]="!authService.isLoggedIn()" (click)="onClick()">Logout</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
